/*
    <div class="aspect-ratio">
        <img src="img/hero.jpg" class="max-img aspect-wrapper" alt="image title" />
    </div>
*/

.aspect-ratio {
    background-color: hsl(0,80%, 70%);
    padding-top: calc(1 / (2 / 1) * 100%);
    position: relative;
}
.aspect-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
